p{
    background-color: aquamarine;
}

a{
    background-color: rgb(204, 123, 56);
}

div{
    background-color: rgb(169, 175, 224);
}
body{
    background-color: rgb(241, 167, 232);
}
span{
    background-color: rgb(170, 135, 236);
}